.git
.github
.env
.env.*
!.env.example
node_modules
vendor/tests
vendor/phpunit
.phpunit.result.cache
.php-cs-fixer.cache
npm-debug.log
yarn-error.log
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
bootstrap/cache/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!bootstrap/cache/.gitignore
docs/*.md
README.md
docker-compose.yml
.docker
